body {
    font-family: "Helvetica", Sans-Serif;
    background-image: url("img/phone.png");
  }

  .p {
    font-family: verdana;
    font-size: 20px;
    width: 130px;
    height: 150px;
    background: #6A9E99;
    transition: width 1s, height 4s;
  }
  
  .p:hover {
    width: 300px;
    height: 150px;
  }  

  body {background-color:#123652;}

  div {background-color: #ffffff;}  


  body {margin:0;}

.icon-bar {

  height: 75px;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float:left;
  width: 75px;
  height: 75px;
  text-align: center;
  padding: 5px 0;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
  font-size: 42px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

.left {
 float: left;
  }


  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }

/* div shiz
/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }